*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100vw;
}
  
.leftSide, .rightSide{
    width: 50vw;
    overflow: hidden;
    display: inline-block;
}
  
.leftSide{
    color: pink;
    transform: skew(0deg, -15deg);
}
  
.rightSide{
    color: black;
    transform: skew(0deg, 15deg);
}
  
.leftSide .textContent{
    width: 100vw;
    text-align: center;
}
  
.rightSide .textContent{
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
}
  
span{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: .8;
}
  